rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Sessions can be read by anyone in the dev environment.
    // This is not secure for production.
    match /upload_sessions/{sessionId} {
      allow create: if true; // Allow anyone to create for dev
      allow read: if true; // Allow anyone to read for dev
      allow update: if true; // Allow anyone to update for dev
    }

    // Results can be read by anyone in the dev environment.
    // This is not secure for production.
    match /budget_results/{resultId} {
      allow read: if true;
      allow create, update, delete, list: if false; // Deny all client writes
    }

    // Backups can only be created by Cloud Functions and read by admins
    match /backups/{backupId} {
        allow create: if false; // Only allow from backend
        allow read: if isAdmin();
    }
    
    // Feedback can be created and read by anyone in the dev environment.
    // This is not secure for production.
    match /feedback/{feedbackId} {
      allow create: if true;
      allow read: if true;
      allow update: if true;
    }
  }
}
