rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Sessions can be created by authenticated users.
    // They can only be read or updated by their owner.
    // The Cloud Function (which runs with admin privileges) can update them.
    match /upload_sessions/{sessionId} {
      allow create: if request.auth != null;
      allow read, update: if isOwner(resource.data.userId);
    }

    // Results can only be read by their owner or an admin.
    // They are only ever created by the Cloud Function.
    match /budget_results/{resultId} {
      allow read: if isOwner(resource.data.userId) || isAdmin();
      allow create, update, delete, list: if false; // Deny all client writes
    }

    // Backups can only be created by Cloud Functions and read by admins
    match /backups/{backupId} {
        allow create: if false; // Only allow from backend
        allow read: if isAdmin();
    }
    
    // Users can create their own feedback. Admins can read all feedback.
    match /feedback/{feedbackId} {
      allow create: if isOwner(request.resource.data.userId);
      allow read: if isAdmin() || isOwner(resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }
  }
}

    