@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 60% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 172 66% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 98%;
    --secondary-foreground: 222 47.4% 11.2%;
    --muted: 210 20% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 180 70% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 172 66% 45%;
    --chart-1: 172 60% 50%;
    --chart-2: 180 70% 40%;
    --chart-3: 190 80% 45%;
    --chart-4: 200 90% 50%;
    --chart-5: 210 100% 55%;
    --radius: 0.5rem;
    --sidebar-background: 210 30% 98%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 172 66% 45%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 172 60% 90%;
    --sidebar-accent-foreground: 172 66% 30%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 172 66% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
